
<div class="pseudo_body" ng-init="init()" style="height: 100%; width: 100%">
	<div id="fullpage">
    <div class="section active">
			<div class="col-lg-2"></div>
			<div class="row col-lg-10">
				<table style="width: 80%; border-collapse:separate; border-spacing:1em;" >
					<tr>
						<td>
							<div ui-sref="planner" class="boxed" style="width: 350px; height: 50px; background-color: #2980b9; text-align: center; padding-top: 2.5%; font-size: 18px">
								<b> P L A N L Æ G </b>
							</div>

						</td>
						<td>
							<div ui-sref="inspiration" class="boxed" style="width: 350px; height: 50px; background-color: #27ae60; text-align: center; padding-top: 2.5%; font-size: 18px">
								<b> O P D A G </b>
							</div>

						</td>
						<td>
							<div ui-sref="createdish" class="boxed" style="width: 350px; height: 50px; background-color: #c0392b; text-align: center; padding-top: 2.5%; font-size: 18px">
								<b> S P I S </b>
							</div>

						</td>
					</tr>
				</table>
			<table style="width: 80%; border-collapse:separate; border-spacing:1em; padding-bottom: 0%; padding-top: 0%" >
				<tr>
					<td>
						<div class="boxed" style="width: 350px; height: 350px; background-color: #2980b9;">
							<img class="image" src="./public/chicken-icon.png" alt="" />
						</div>

					</td>
					<td>
						<div class="boxed" style="width: 350px; height: 350px; background-color: #27ae60;">
							<img class="image" src="./public/leaf-icon.png" alt="" />
						</div>

					</td>
					<td>
						<div class="boxed" style="width: 350px; height: 350px; background-color: #c0392b;">
								<img class="image" src="./public/apple2-icon.png" alt="" />
						</div>

					</td>
				</tr>
			</table>
		</div>
		</div>
    <div class="section">
			<chart-bar title="Line chart example" xData="lineChartXData" yData="lineChartYData" xName="Month" yName="Hit" subtitle="This is an example"></chart-bar>
		</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
</div>





	<div class="col-lg-12">

		<chart-bar title="Line chart example" xData="lineChartXData" yData="lineChartYData" xName="Month" yName="Hit" subtitle="This is an example"></chart-bar>
		<div class="col-lg-1"></div>
		<!-- <div class="col-lg-6"> -->
			<!-- <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas> -->
			<!-- <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas> -->

		<!-- </div> -->
		<div class="col-lg-10">
			<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>

		<br><br><br><br><br><br><br><br>
	<div class="col-lg-1"></div>
	<div class="col-lg-10" style="padding-left: 5%">
		<div class="row">
			<table style="width: 100%; border-collapse:separate; border-spacing:1em;" >
				<tr>
					<td>
						<div ui-sref="planner" class="boxed" style="width: 350px; height: 50px; background-color: #2980b9; text-align: center; padding-top: 2.5%; font-size: 18px">
							<b> P L A N L Æ G </b>
						</div>

					</td>
					<td>
						<div ui-sref="inspiration" class="boxed" style="width: 350px; height: 50px; background-color: #27ae60; text-align: center; padding-top: 2.5%; font-size: 18px">
							<b> O P D A G </b>
						</div>

					</td>
					<td>
						<div ui-sref="createdish" class="boxed" style="width: 350px; height: 50px; background-color: #c0392b; text-align: center; padding-top: 2.5%; font-size: 18px">
							<b> S P I S </b>
						</div>

					</td>
				</tr>
			</table>
		</div>

		<div class="row">

		<table style="width: 100%; border-collapse:separate; border-spacing:1em; padding-bottom: 2%; padding-top: 2%" >
			<tr>
				<td>
					<div class="boxed" style="width: 350px; height: 350px; background-color: #2980b9;">
						<img class="image" src="./public/chicken-icon.png" alt="" />
					</div>

				</td>
				<td>
					<div class="boxed" style="width: 350px; height: 350px; background-color: #27ae60;">
						<img class="image" src="./public/leaf-icon.png" alt="" />
					</div>

				</td>
				<td>
					<div class="boxed" style="width: 350px; height: 350px; background-color: #c0392b;">
							<img class="image" src="./public/apple2-icon.png" alt="" />
					</div>

				</td>
			</tr>
		</table>
	</div>
	</div>

	</div>

	<ul>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
	</ul>

	<ul>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
	</ul>

	<ul>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
	</ul>

	<ul>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
	</ul>

	<ul>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
	</ul>

	<ul>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
	</ul>

	<ul>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
		<li>asda</li>
	</ul>

	<h2>its a page</h2>
</div>
