<div class="col-lg-12 row">
  <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <h4>Tilføj din personlige ret</h4>
        <hr>
        <form>
            <label class="label label-default" for="name">Navn på retten<a style="color:red">*</a></label>
            <input ng-model="name" id="dish_name" class="form-control" type="text" name="name" required placeholder="Rettens navn">
            <span style="color:red" ng-show="new_dish.name.$dirty && new_dish.name.$invalid">
              <span ng-show="new_dish.name.$error.required">Et navn er påkrævet.</span>
            </span>
						<br>
            <label class="label label-default" for="name">Brødtekst</label>
            <input ng-model="subtext" class="form-control" type="text" name="subtext" placeholder="Brødtekst til retten">
            <br>
						<label class="label label-default" for="name">Tilføj ingrediens<a style="color:red">*</a></label>
            <div class="input-group">
                <input ng-model="ing" name="ingredient" id="ingredient" type="text" class="form-control" placeholder="Tilføj ingrediens" uib-typeahead="ingredient.name for ingredient in ingredients | filter: $viewValue | limitTo: 17" autocomplete="off" typeahead-on-select="onSelect($item, $model, $label)">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="addToList(ing)">+</button>
                </span>
            </div>
						<br>
            <div>
            <div id="empty" class="alert alert-danger fade in">
              <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Skal udfyldes!</strong>
            </div>
            <div id="holdup" class="alert alert-success fade in">
              <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Tilføjer ret til databasen!</strong>
            </div>
            <br><br>
              <button id="submitter" style="float:right" class="btn btn-success btn-lg" type="submit" name="button" ng-disabled="new_dish.name.$dirty && new_dish.name.$invalid ||
              new_dish.subtext.$dirty && new_dish.subtext.$invalid" ng-click="submitDish()">Gem Ret</button>
            </div>
        </form>
				<br>
    </div>
		<div class="col-lg-1"></div>
		<div class="col-lg-3">
      <h4>Ingrediens liste</h4>
      <hr>
			<div ng-if="ingredient_list.length > 0" class="panel panel-success" style="padding-top: 6%">
			    <div class="panel-heading">
			        <h3 class="panel-title">Ingredienser</h3>
			    </div>
			    <div class="panel-body">
							<ul ng-repeat="item in ingredient_list track by $index">
								<li>{{item.name}} <div style="float: right; font-size: 11px; color: #ab4c4c; cursor: pointer; background: transparent; padding: 3px" ng-click="removeItem($index)">x</div></li>
							</ul>
			    </div>
			</div>

		</div>
    		<div class="col-lg-1"></div>
    <div class="col-lg-2">
      <h4>Rettens Point</h4>
      <hr>
      <br><br>
      <span ng-if="dish_score > 0" style="padding: 6%; padding-right: 7%; padding-left: 7%; color: black; background-color: white">
        <b>{{dish_score}}</b>
      </span>
    </div>
    <div class="col-lg-1"></div>
</div>
