<div class="col-lg-12 row">
  <div class="col-lg-12" id="scrollable" style="padding-bottom: 1%">
    <div class="col-lg-4">

    </div>
  	<div>
  		<div>
  		<div class="col-lg-4" style="padding-right: 2%; padding-top: 0%">
        <div class="col-lg-4">

        </div>
  						<div class="card col-lg-12" id="dish_details" style="padding-top: 10px">
  							<div class="" style="padding-top: 10px">
  			        <span style="padding: 1.5%; padding-right: 2.7%; padding-left: 2.7%; color: black; background-color: white; float:right">
  			          Dish Score: <b>{{commentObject.score}}</b>
  			        </span>
  						</div>
  							<div>
  								<h4><b>{{commentObject.name}}</b></h4>
  								{{commentObject.subtext}}
  								<hr style="color: white">
  								<div class="row">
  									<div class="col-lg-1" id="ing_list">
  										<ul ng-repeat="ing in commentObject.ingredients">
  											<li>{{ing.name}}</li>
  										</ul>
  									</div>
  									<div class="col-lg-4" style="float: right; padding-right: 5%">
  										<div>
  										<img style="width: 310px; float: right" ng-src="/public/{{commentObject.image}}" alt="" />
  									</div>
  			            <br>
  								</div>
  							</div>
  						</div>
  					</div>
            <br><br>
            <br><br>
            <div id="scrollable" style="height: 350px; overflow: auto; padding-top: 2%; width: 100%">
            <div style="padding-top: 2%:" ng-repeat="comment in list">
              <div class="col-lg-12 comment" style="padding: 10px; background-color: #424242; width: 100%;">
                <div class="col-lg-12" style="padding: 10px; background-color: #5b5454; box-shadow: 2px 3px 4px #090909;">
                  <div class="form-inline col-lg-12" style="font-size: 11px; color: #a3a3a3">
                    <span style="float: left">{{comment.username}}</span>
                    <span style="float: right">{{comment.time}}</span>
                  </div>
                  <hr>
                  {{comment.comment}}
                </div>
              </div>
            </div>
          </div>

            <div style="padding-top: 3%; width: 100%">
              <div class="form-inline">
                <textarea ng-model="comment" class="form-control" name="name" rows="3" cols="45"></textarea>
                <button ng-disabled="!comment" class="btn btn-success" type="button" name="button" style="height: 85px; width: 85px; float: right" ng-click="addComment(comment)">Send</button>
              </div>
            </div>

  		</div>

      <div class="col-lg-4">

      </div>
  	</div>
  </div>

  </div>

</div>
